ul.thumblist {
    @extend .clearfix; 
    margin:0 0 1em;
    
    aside.actions {
        position:absolute;
        top:0.3em;
        left:0.3em;
        a {
            margin:0; 
        }
    }
    
    li {
        float:left;
        position:relative;
        width:auto;
        max-width:auto;
        margin:0 0.4em 0.4em 0; 
    }
    
    label {
        display:inline;
        margin:0;
    }
    
    input[type="checkbox"] {
        display:none;
    }
    
    img {
        width:5em; 
    }
    
    &.big img {
        width:9em;
    }

    .label {
        position:absolute;
        left:3px;
        right:3px;
        bottom:3px;
        font-size:0.7em;
        line-height:1.2em;
        overflow:hidden;
        padding:0.3em 0.4em;
        white-space:nowrap;
    }
}