a.realInfo {
    color:$complementaryColor;
    
    &:hover {
        color:$complementaryDarkColor; 
    }
}

.real:after {
    @extend .awesome;
    display:inline;
    color:$complementaryColor;
    content:"\f058"; 
    margin-left:0.2em; 
}

.real:hover:after {
    color:$complementaryDarkColor; 
}

nav .real:after {
    display:none; 
}