ol.licons {
    margin-bottom:1em;
    
    li {
        padding:0.8em 0; 
    }
    
    .bubbleW {
        margin:0;
    }
    
    .bubble {
        margin-bottom:0;
    }
    
    .picture img {
        margin:0.3em 0 0 1.4em;
        max-width:90%;
        max-height:10em; 
    }
}